<main>
	<h2>Home</h2>
	<p>Are you tired of learning languages by reading through dense documentation or combing through numerous tutorials? Quickly access and create "cheat sheet" index cards so you never struggle with syntax again!</p>
	<p>To look at community-submitted cards, take a look at the "View cards page".</p>
	<p>To enter your own index card, go to the "Add a card" page and follow the instructions.</p>
</main>

